.navbar-title {
    @if $gridi-components-navbar-title-font-family {
        font-family: $gridi-components-navbar-title-font-family;
    }
    font-size: $gridi-components-navbar-title-font-size;
    @if is-map($gridi-components-navbar-title-font-size-for-screens) {
        @each $screen-prefix, $sizes in get-screens-map() {
            @if map-has-key($gridi-components-navbar-title-font-size-for-screens, $screen-prefix) {
                @media(min-width: get-screen-size($screen-prefix, min)) {
                    font-size: map-get($gridi-components-navbar-title-font-size-for-screens, $screen-prefix);
                }
            }
        }
    }
    line-height: $gridi-components-navbar-title-line-height;
    @if is-map($gridi-components-navbar-title-line-height-for-screens) {
        @each $screen-prefix, $sizes in get-screens-map() {
            @if map-has-key($gridi-components-navbar-title-line-height-for-screens, $screen-prefix) {
                @media(min-width: get-screen-size($screen-prefix, min)) {
                    line-height: map-get($gridi-components-navbar-title-line-height-for-screens, $screen-prefix);
                }
            }
        }
    }
    text-decoration: none;
    @if $gridi-components-navbar-title-color {
        color: $gridi-components-navbar-title-color;
    }
}
